<template name = "home">

  <head>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400, 600' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='style.css' />
  </head>

  <body>
    <div class="header">
      <div class="container">
        <ul class="nav">

        </ul>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <div class="main">
          <h1>Hi, I'm ryan.</h1>
          <a href="/index" class="btn-main">Get to know me</a>
        </div>
      </div>
    </div>

    <div class="supporting">
      <div class="container">
        <div class="col">
          <img src="https://s3.amazonaws.com/codecademy-content/projects/broadway/design.svg">
          <h2>Student</h2>
          <p>Make your projects look great and interact beautifully.</p>
          <a href="/index" class="btn-default">Learn more</a>
        </div>
        <div class="col">
          <img src="https://s3.amazonaws.com/codecademy-content/projects/broadway/develop.svg">
          <h2>Developer</h2>
          <p>Use modern tools to turn your design into a web site</p>
          <a href="#" class="btn-default">Learn more</a>
        </div>
        <div class="col">
          <img src="images/piano.png">
          <h2>Musician</h2>
          <p>Use modern tools to turn your design into a web site</p>
          <a href="#" class="btn-default">Learn more</a>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="footer">
      <div class="container">
        <p>&copy; Ryan-Alexander Thomas</p>
      </div>
    </div>
  </body>



</template>
