<template name = "home">

  <head>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400, 600' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='style.css' />
  </head>

  <body>
    <div class="header">
      <div class="container">
        <ul class="nav">

        </ul>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <div class="main">
          <div>
            <img id="profile" src="images/selfcirc.png">
          </div>
          <h1>Hi, I'm ryan.</h1>
          <a href="/dev" class="btn-main">Get to know me</a>
        </div>
      </div>
    </div>

    <div class="supporting">
      <div class="container">
        <div class="col">
          <img src="images/bookswhite.png">
          <h2 class="white-text">Student</h2>
          <p class="white-text">Currently studying at The Ohio State University.</p>
          <a href="/student" class="btn-default">Learn more</a>
        </div>
        <div class="col">
          <img src="images/iowhite.png">
          <h2 class="white-text">Developer</h2>
          <p class="white-text">Programmer for MIT and private clients. </p>
          <a href="/dev" class="btn-default">Learn more</a>
        </div>
        <div class="col">
          <img src="images/pianowhite.png">
          <h2 class="white-text">Musician</h2>
          <p class="white-text">Former Catholic School music teacher/director.</p>
          <a href="/music" class="btn-default">Learn more</a>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="footer">
      <div class="container">
        <p>&copy; 2016 Ryan-Alexander Thomas</p>
      </div>
    </div>
  </body>



</template>
